[include]
	path = ~/.gitsecrets

[core]
	excludesfile = ~/.gitignore

[push]
	default = upstream

[color]
	ui = true

[color "branch"]
	current    = blue bold
	local      = black
	remote     = red bold

[color "diff"]
	plain      = normal
	meta       = black bold
	frag       = cyan
	func       = normal
	old        = red
	new        = green
	commit     = yellow
	whitespace = magenta reverse

[color "status"]
	header     = black bold
	added      = green bold
	changed    = red bold
	untracked  = blue bold
	deleted    = white bold

[alias]
	jsc   = !git config -l | grep alias | cut -c 7-
	jf    = grep -Iin --full-name --break --show-function
	jst   = status -sb -uall
	jsti  = status -sb -uall --ignored

	jr    = reset
	jr1   = reset HEAD^
	jr2   = reset HEAD^^
	jrh   = reset --hard
	jrh1  = reset HEAD^ --hard
	jrh2  = reset HEAD^^ --hard

	ja    = add
	jap   = add --patch
	jaa   = add .
	jaf   = add --force
	jaaf  = add . --force

	jd    = diff --word-diff --color-words
	jds   = !git jd --cached
	jdf   = diff

	jrmr  = rm -r
	jrmrf = rm -rf

	jc    = commit
	jcm   = commit -m
	jca   = commit --amend
	jcma  = commit --amend -m
	jcam  = !git jcma

	jcl   = clone
	jco   = checkout

	jbr   = branch
	jbrv  = branch -vv
	jbra  = branch -a
	jbrav = branch -avv

	jsl   = stash list
	jsa   = stash apply
	jss   = stash save

 	jnp   = log --stat origin/master..HEAD

	jlg   = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(green)%d%Creset %s %C(reset)%C(red)[%an - %cn]%Creset' --color --decorate=short --date=short --abbrev-commit --graph
	jlga  = !git jlg --all
	jls   = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(green)%d% C(red)[%cn]%Creset%n%C(bold)%s%Creset%n%+b' --color --decorate=short
	jlsv  = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(green)%d% C(red)[%cn]%Creset%n%C(bold)%s%Creset%n%+b' --color --decorate=short --stat

	# follow up
	jfup  = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(green)%d% C(red)[%cn]%Creset%n%C(bold)%s%Creset%n%+b' --color --decorate=short --since '2 days ago'
	jfupv = !git jfup --stat

	# Toggle ignoring changes to tracked files. Used for temporary
	# modifications that do not need to be committed.
	jsic  = update-index --assume-unchanged
	jnic  = update-index --no-assume-unchanged
	jlic  = !git ls-files -v | grep ^h | cut -c 3-
