URxvt.font: xft:Inconsolata-dz:size=10:antialias=true:hinting=slight

! Disable the scrollbar.
URxvt.scrollBar: False

! Pad the inner-border with a little empty space.
URxvt.internalBorder: 15

#include "~/.Xcolors/hybrid"

! Enable transparency.
! URxvt.transparent: true
! URxvt.shading: 35
